body {
    display: flex;
    background-color: rgb(110, 144, 207);
}

#title {
    font-family: 'Courier New', Courier, monospace;
    border-style:dashed;
    padding: 20px;
    text-align: center;
}

#gridBorder {
    border: 3px solid black;
    width: 500px;
    height: 500px;
    background-color: rgb(179, 200, 245);
}